*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #000;
}

.loading-text{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    color: gray;
}

.blue-frame{
    border: 8px solid;
    border-image: url("../images/border-blue.png") 8 repeat;
}

.game-frame{
    position: absolute;
    top: 80px;
    width: 1008px;
    height: 672px;
}

.hud-panel{
    position: absolute;
    top: 0px;
    width: 240px;
    height: 64px;
}

.center-outer{
    text-align: center;
    display: table;
}

.center-inner{
    display: table-cell;
    vertical-align: middle;
}

.top-frame{
    position: absolute;
    top: 0px;
    width: 1024px;
    height: 80px;
}

.small-overlay-text{
    color: #bbf;
    background-color: rgba(0,0,0,0.7);
    font-size: 10px;
    font-family: Tahoma
}

a:link { color: #22f; text-decoration: none; }
a:visited { color: #66f; text-decoration: none; }
a:hover { color: #aaf; text-decoration: underline; }
a:active { color: #aaf; text-decoration: underline; }

#gameCanvas{
    position: absolute;
    top: -8px;
    left: -8px;
    width: 1040px;
    height: 784px;
    image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}