*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #000;
}

.blue-frame{
    border: 8px solid;
    border-image: url("../images/border-blue.png") 8 repeat;
}

.game-frame{
    position: absolute;
    top: 80px;
    width: 1008px;
    height: 672px;
}

.hud-panel{
    position: absolute;
    top: 0px;
    width: 240px;
    height: 64px;
}

.top-frame{
    position: absolute;
    top: 0px;
    width: 1024px;
    height: 80px;
}

#gameCanvas{
    position: absolute;
    top: -16px;
    left: -16px;
    width: 1040px;
    height: 704px;
    image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}