*{
    margin: 0px;
    padding: 0px;
}

#gameCanvas{
    display: block;
    image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

.tank-scheme{
    position: absolute;
    width: 240px;
    height: 240px;
    left: 776px;
}

.scheme-overlay{
    position: absolute;
    width: 64px;
    height: 64px;
    background-size: cover;
    background-repeat: no-repeat;
}

.spacer{
    clear: both;
}
